{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "objectWrap": "collapse",
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": true
}
